#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.puppyName {
  border: 1px solid red;
}

.puppyName:hover {
  background-color: #888;
}

.App {
  display: flexbox;
}

.puppyGroup {
  display: flex;
}
.featuredPuppyId {
  display: flex;
}
